################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VidlyApp/packages
/VidlyApp/VidlyApp/bin
/VidlyApp/VidlyApp/obj/Debug
/VidlyApp/.vs
/VidlyApp/VidlyApp/App_Data
